.vagrant
repos/
svn_repos/
mupat/
blackbridge/
sublime_user/Package Control.cache/
sublime_user/Package Control.last-run
sublime_user/Package Control.system-ca-bundle
sublime_user/bh_unicode_properties.cache
