.vagrant
/**/*.DS_Store
sublime-text/user/Package Control.cache/
sublime-text/user/Package Control.last-run
sublime-text/user/Package Control.system-ca-bundle
sublime-text/user/bh_unicode_properties.cache
