"*":
  "atom-typescript": {}
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-plus":
    confirmCompletion: "enter"
    suggestionListFollows: "Word"
  "character-table": {}
  core:
    audioBeep: false
    disabledPackages: [
      "autocomplete"
      "open-last-project"
      "tree-view-breadcrumb"
      "tree-view-finder"
      "chary-tree-view"
      "sublime-tabs"
      "linter-csslint"
      "linter-coffeelint"
      "linter-jshint"
      "language-lsg"
      "es-identifier-highlight"
      "language-javascript-better"
      "linter-docker"
      "merge-conflicts"
      "quick-editor"
      "language-javascript-jsx"
      "linter-spell"
      "fast-eslint"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "logs/"
      "tmp/"
      "temp/"
      "coverage/"
      "*.log"
      ".sass-cache"
      "node_modules"
      "vendor/"
      "dist/"
    ]
    telemetryConsent: "no"
    themes: [
      "unity-ui"
      "atom-light-syntax"
    ]
  "custom-title":
    template: "test"
  editor:
    fontFamily: "SourceCodePro-Light"
    fontSize: 18
    invisibles: {}
    preferredLineLength: 100
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 6
  "exception-reporting":
    userId: "3dc13132-932a-76a1-c309-867c8f5d42bc"
  "flow-ide": {}
  "highlight-column":
    enableHighlight: true
    opacity: 0.15
  linter: {}
  "linter-ui-default":
    panelHeight: 75
  "merge-conflicts": {}
  metrics:
    userId: "897829d3e418664ed04ea4795d423ce36630627f"
  pigments:
    extendAutocompleteToColorValue: true
    ignoredScopes: [
      "\\.comment"
      "\\.string"
    ]
    markerType: "dot"
    supportedFiletypes: [
      "***/*.styl"
      "**/*.stylus"
      "**/*.less"
      "**/*.sass"
      "**/*.scss"
      "**/*.css"
    ]
  "quick-editor": {}
  tabs:
    showIcons: true
  "todo-show": {}
  "tree-view":
    hideVcsIgnoredFiles: false
  "unity-ui": {}
  welcome:
    showOnStartup: false
".attribute-values.js.jsx.source":
  editor:
    softWrapHangingIndent: 6
".js.jsx.react.source":
  editor:
    softWrapHangingIndent: 6
".js.jsx.source":
  editor:
    softWrapHangingIndent: 6
".js.regexp.replacement.source":
  editor:
    softWrapHangingIndent: 6
".js.regexp.source":
  editor:
    softWrapHangingIndent: 6
".js.source":
  editor:
    softWrapHangingIndent: 6
".js.source.subtlegradient":
  editor:
    softWrapHangingIndent: 6
".source.ts":
  editor:
    softWrapHangingIndent: 6
".source.tsx":
  editor:
    softWrapHangingIndent: 6
