'*':
  'editor':
    'fontFamily': 'SourceCodePro-Light'
    'fontSize': 13
    'invisibles': {}
  'core':
    'disabledPackages': [
      'autocomplete'
    ]
    'themes': [
      'unity-ui'
      'atom-light-syntax'
    ]
    'projectHome': '/Users/pam/dev'
  'exception-reporting':
    'userId': '3dc13132-932a-76a1-c309-867c8f5d42bc'
  'welcome':
    'showOnStartup': false
  'metrics':
    'userId': '897829d3e418664ed04ea4795d423ce36630627f'
  'autocomplete':
    'includeCompletionsFromAllBuffers': true
  'highlight-column':
    'opacity': 0.15
    'enableHighlight': true
  'custom-title':
    'template': 'test'
  'autocomplete-plus':
    'confirmCompletion': 'tab and enter'
  'tree-view':
    'hideVcsIgnoredFiles': true
